@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: rgb(56, 56, 56);

    font-family: Oswald, sans-serif;
}

body {
    background-color: rgb(205, 233, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#box {
    width: 400px;
    height: 70px;

    background-color: white;

    border-radius: 10px;
    border: solid rgb(56, 56, 56) 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 20px 20px 8px 20px;
}

#value {
    width: 170px;
    height: 50px;
    background-color: white;

    padding-left: 10px;

    font-size: 1.5em;

    border-radius: 10px;
    border: solid rgb(56, 56, 56) 4px;

}

button {
    width: 120px;
    height: 50px;
    background-color: white;

    font-size: 1.5em;

    margin-left: 10px;

    border-radius: 10px;
    border: solid rgb(56, 56, 56) 4px;
}

.unit {}

#result {
    width: 300px;
    height: 70px;

    background-color: white;

    border-radius: 10px;
    border: solid rgb(56, 56, 56) 4px;

    font-size: 1.7em;

    display: flex;
    justify-content: center;
    align-items: center;
}