@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: rgb(56, 56, 56);

    font-family: Oswald, sans-serif;
}

body {
    background-color: rgb(205, 233, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#box {
    width: 400px;
    height: 70px;

    background-color: white;

    border-radius: 10px;
    border: solid rgb(56, 56, 56) 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 20px 20px 8px 20px;
}

#value {
    width: 170px;
    height: 50px;
    background-color: white;

    padding-left: 10px;

    font-size: 1.5em;

    margin: 10px;

    border-radius: 10px;
    border: solid rgb(56, 56, 56) 4px;

}

button {
    width: 120px;
    height: 50px;
    background-color: white;

    font-size: 1.5em;

    margin-left: 10px;

    border-radius: 10px;
    border: solid rgb(56, 56, 56) 4px;
}

button:hover {
    background-color: rgb(226, 225, 225);
}

/* ========================================================== */

/* Customize the label (the container) */
.container {
    margin-left: 5px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;

    margin: 3px;

    height: 29px;
    width: 29px;
    background-color: white;
    border-radius: 50%;

    border: solid rgb(56, 56, 56) 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: rgb(226, 225, 225);
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #6cbafa;
}

/* ==========================================================*/

#result {
    width: 300px;
    height: 70px;

    background-color: white;

    border-radius: 10px;
    border: solid rgb(56, 56, 56) 4px;

    font-size: 1.7em;

    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}